html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
    background-image: url(../public/background.webp);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background: linear-gradient(107.3deg, #112EA0 0%, #0ABEEE 131.96%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c455ff",endColorstr="#0d024d",GradientType=1);
    user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #fff;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #b4b7b7;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #fff;  /* creates padding around scroll thumb */
}

::-webkit-scrollbar{width:6px;}
::-webkit-scrollbar-thumb{background-color:#b4b7b7; border-radius: 10px}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;